<div class="navbar">
  <ul>
    <li class="logo">
        <a routerLink="/" class="navlink">LISANS</a>
        <i class="bi bi-arrow-right" id="iid"></i></li
    >
    <li class="navitem">
        <i class="bi bi-folder-fill"></i><a routerLink="/licences" class="navlink">Lisanslar</a>
      </li>
    <li class="navitem"><i class="bi bi-plus"></i><a routerLink="/customers" class="navlink">Bilgisayarlar</a></li>
    <li class="navitem"><i class="bi bi-person-fill"></i><a class="navlink">Müşteriler</a></li>
    <li class="navitem profile"><i class="bi bi-person-circle"></i><a class="navlink">Kullanıcı</a>
      <ul>
      <a>
        <li>
        <i class="bi bi-gear"></i>
        <a class="navlink">Profil</a>
        </li>
      </a>
        <a>
        <li>
        <i class="bi bi-power"></i>
        <a class="navlink">Çıkış Yap</a>
        </li>
      </a>
      </ul>
      </li>
  </ul>
</div>
